@mixin mydisplay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}
@mixin pi-pb{
    padding-inline: 2vw;
    padding-block: 1vh;
}
@mixin radio-border{
    border-radius:25px;
    background-color: $btn;
    color: $white;
    border: none;
}

@mixin mygrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    
}

@mixin mysize($size1, $size2){
width:$size1 ;
height: $size2;
}


@mixin mydisplay2($param1, $direction, $param2, $param3, $param4){
display:$param1 ;
flex-direction: $direction;
justify-content:$param2 ;
align-items: $param3;
gap: $param4;
}