@mixin mydisplay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}
@mixin pi-pb{
    padding-inline: 2vw;
    padding-block: 1vh;
}
@mixin radio-border{
    border-radius:25px;
    background-color: $btn;
    color: $white;
    border: none;
}