@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$icon:#ffb03b;
$btn:#d19133;
$pernav:#1b1613;
$secnav:#383431;
$hoverr:#ffb03b;
$paragraph:#a1a1a1;
$background-about:#fffaf3;
$white:#fbfbfb;
$text-color:#ffb03b;
$background-about-btn:#fff7eb;
$background-card-color :rgba(238, 230, 230, 0.26);
$box-shadow-card: #888888bb;
$footerbackground:#1e160d;
$footer-ligne-color:#352e26;
$gray:rgb(197, 190, 190);
$mybox-colors: ("icon": $icon,"btn": $btn,"pernav":$pernav,"secnav":$secnav,"hoverr":$hoverr, "paragraph":$paragraph, "background-about":$background-about,"white":$white,"text-color":$text-color);
$theme-colors: map-merge($mybox-colors, $theme-colors);




// spacer-width for  to use in bootstrap 
$spacer-width: 1vw ;
@for $i from 1  through 12 {
  $spacers: map-merge($spacers , ($i : $spacer-width * $i) );

}


// spacer-height  for  to use in bootstrap 
$spacer-height: 1vh ;
@for $i from 1  through 12 {
  $spacers: map-merge($spacers , ($i : $spacer-height * $i) );

}



// spacer-gap for  to use in bootstrap 
$spacer-gap: 1vw ;
@for $i from 1  through 12 {
  $spacers: map-merge($spacers , ($i : $spacer-gap * $i) );

}



