@import "../../mixin";

// font of website
@font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "poping-font";
    src: url(../../../../public/fonts/Poppins/Poppins-Medium.ttf);
}

body{
    padding: 0;
    margin: 0;
    
} 
h1 
,h2 
, h3 
,h4
,h5 
,h6{
        font-weight: bold;
        font-family: "myfont";
    }

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav
{
    background-color: $pernav;
        position: fixed;
        z-index: 999;

}
    
.nav-item{
    width: 100vw;
    @include mydisplay;
    @include  pi-pb;
}
.nav-item-left{
    @include mydisplay;
}

.nav-item-right 
    button{
        @include radio-border;
        
        }
.nav-item-right
        button:hover
        {
        background-color: $hoverr;
        }



.link a {
        text-decoration: none;
        color: $white;
        padding-inline: 0.5vw
    }

.link a:hover
{
        color: $hoverr;
}
i{
    color: $icon;
}

.nav-logo-link{
    width: 100vw;
    @include mydisplay;
    @include pi-pb;
}

.text-carousel-img1 h2 span {
    color: $text-color;
}

.btn-carousel button{
    background-color: transparent;
    border-radius:25px;
    color: $white;
    border-color: $btn;
    @include pi-pb;
}

.btn-carousel  
            button:hover
        {
        background-color: $hoverr;
        }
.text-carousel-img {
    position: absolute;
    top: 40%;
    left: 50%;
    translate: (-50% );
}
img   {
    filter: blur(2px);
}









