@import "../../mixin";

// font of website
@font-face {
    font-family: "myfont";
    src: url(../../../../public/fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "paragraph-font";
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "poping-font";
    src: url(../../../../public/fonts/Poppins/Poppins-Medium.ttf);
}

body{
    padding: 0;
    margin: 0;
} 
h1 
    ,h2 
    , h3 
    ,h4
    ,h5
    ,h6{
        font-family: "myfont";
    }

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav
{
        position: fixed;
        z-index: 999;

}
    
.nav-item{
    width: 100vw;
    @include mydisplay;
    @include  pi-pb;
}
.nav-item-left{
    @include mydisplay;
}

.nav-item-right 
    button{
        @include radio-border;
        
        }
.nav-item-right
        button:hover
        {
        background-color: $hoverr;
        }



.link a {
        text-decoration: none;
        color: $white;
        padding-inline: 0.5vw
    }

.link a:hover
{
        color: $hoverr;
}
i{
    color: $icon;
}

.nav-logo-link{
    width: 100vw;
    @include mydisplay;
    @include pi-pb;
}



.btn-carousel button{
    @include radio-border;
    @include pi-pb;
}

.btn-carousel  
            button:hover
        {
        background-color: $hoverr;
        }








