@import "../../mixin";
// the top nav bar
body{
    padding: 0;
    margin: 0;
} 
.first-nav{
    background-color: transparent;
    color: $white;
    @include mydisplay;
    padding-inline: 2vw;
    padding: 15px 50px;
}


// fix the nav bar item 
.nav-item{
    @include mydisplay;
    gap: 2vw;
}
.first-nav button{
    background-color: $btn;
    color: $white;
    border: none;
    border-radius:25px;
    @include  pi-pb;
}
.first-nav button:hover{
    background-color: $hoverr;
}

i{
    color: $icon;
}
// end  top nav bar 

// nav links

.nav-bar{
    @include mydisplay;
    @include pi-pb; 
}
.link a {
    text-decoration: none;
    color: $white;
    // pading between item in tag a 
    padding-inline: 0.5vw;
    
}
.link a:hover{
    color: $hoverr;
}
// the container of the pernav & secnav 
.PERNAV{
    background-color: #0c0909e0;
    position: fixed;
    top: 0;
    left: auto;
    z-index: 999;
    background-color: transparent;
}