@import "../../mixin";
//* font of website

// *ABOUT 
.about{
    @include mydisplay;
    @include pi-pb;
}


// */ END ABOUT 





// *card section 
.title-why-us{
    @include  mydisplay;
    flex-direction: column;
}
.title-why-us button{
    background-color:$background-about-btn ;
    border-radius: 25px;
    border: none;
    @include pi-pb;
}
.cards {
    @include mygrid ;
    @include pi-pb;
}

.card-item{
    @include pi-pb;
    padding-top: 9vh;
    padding-bottom: 9vh;
    background-color: $background-card-color ;
    box-shadow:5px 10px 18px $box-shadow-card ;
}
// *end card section 




// ^contact
.CONTACT{
    text-align: center;
}
.CONTACT span{
    color: $btn;
}
.CONTACT button{
    color: $btn;
    background-color:$background-about-btn ;
    border-radius: 25px;
    border: none;
    @include pi-pb;
}

.card-touch{
    text-align: center;
}





.menu {
    padding-top: 50px;
    .cheek-our {
        button {
            padding: 5px;
            width: 100px;
            height: 30px;
            text-align: center;
            background-color: rgba(255, 166, 0, 0.616);
            border-radius: 20px;
           color: $btn;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
        }
        h2 span {
            color: $btn;
        }
        h2{
            font-family: "Satisfy", cursive;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        gap: 10px;
           padding-bottom: 50px ;
    }
    .menu-navigation{
         display: flex;
     gap: 50px;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px ;
        a{
           text-decoration: none ;
           color: white ;
           font-family: "Satisfy", cursive;
        }
    }

    @include mysize(100%, 110vh);

    padding-inline: 85px;

  

    .food {
        display: flex;

        .right {

            width: 50%;
        }

        .list2 {
            width: 50%;
         
        }

        img {
            @include mysize(80px, 80px);
            border: solid 7px rgb(213, 213, 213);
            border-radius: 50%;
        }

        .right .Lobster {
            
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .after1 {

            display: flex;
            align-items: center;
            gap: 40vh;

        }

        .after2 {
            display: flex;
            align-items: center;
            gap: 47vh;
        }

        .after3 {
            display: flex;
            align-items: center;
            gap: 41vh;
        }

        .after4 {
            display: flex;
            align-items: center;
            gap: 47vh;
        }

        .after5 {
            display: flex;
            align-items: center;
            gap: 45vh;
        }

        .after1 h4,
        .after2 h4,
        .after3 h4,
        .after4 h4,
        .after5 h4 {
            margin: 0;
            font-weight: 500;
        }

        .after1 span,
        .after2 span,
        .after3 span,
        .after4 span,
        .after5 span {
            font-weight: 500;
        }

        .ingredient {

            margin-top: 5px;
            font-style: italic;
            color: #555;
            display: block;
        }

        .after1::after {

            content: '';
            left: 270px;
            right: 0;
            width: 38vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }

        .Crab {
            
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .after2::after {

            content: '';
            left: 225px;
            right: 0;
            width: 45vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }

        .Tuscan {
           
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .after3::after {

            content: '';
            left: 270px;
            right: 0;
            width: 38vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }

        .Greek {
          
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .after4::after {

            content: '';
            left: 230px;
            right: 0;
            width: 45vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }


        .Lobster2 {
           
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .after5::after {

            content: '';
            left: 235px;
            right: 0;
            width: 44vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }

        .Bread {
           
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .aft1 {

            display: flex;
            align-items: center;
            gap: 40vh;

        }

        .aft2 {

            display: flex;
            align-items: center;
            gap: 40vh;

        }

        .aft3 {

            display: flex;
            align-items: center;
            gap: 40vh;

        }

        .aft4 {

            display: flex;
            align-items: center;
            gap: 40vh;

        }

        .aft1 h4,
        .aft2 h4,
        .aft3 h4,
        .aft4 h4 {
            margin: 0;
            font-weight: 500;
        }

        .ingredient2 {

            margin-top: 5px;
            font-style: italic;
            color: #555;
            display: block;
        }

        .aft1::after {

            content: '';
            left: 250px;
            right: 0;
            width: 38vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }

        .Caesar {
            
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .aft2::after {

            content: '';
            left: 300px;
            right: 0;
            width: 38vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }

        .Mozzarella {
          
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .aft3::after {

            content: '';
            left: 290px;
            right: 0;
            width: 38vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }

        .Spinach {
          
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;
        }

        .aft4::after {

            content: '';
            left: 260px;
            right: 0;
            width: 38vh;
            border: 2px dotted rgb(213, 211, 211);
            position: absolute;


        }
    }

}









.book-table {
    @include mysize(100%, 110vh);
   
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-inline: 90px;

    .book2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-top: 30px;
h2{
    font-family: "Satisfy", cursive;
}
        button {
            padding: 5px;
            width: 130px;
            height: 30px;
            text-align: center;
            background-color: $btn;
            border-radius: 20px;
            color:$white;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;



        }
    }

    .cartes {
        display: flex;
        gap: 40px;
        background-color: $white;

        input {
            @include mysize(250px, 6vh);
        }

        .cartes-rights {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 30px;



            button {
                border: none;
                background-color: $orange;
                color:$white;
                width: 190px;
                height: 50px;



            }

            .button9 {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }


    }



}







.gallery{
    background-color:$background-about;
      @include mydisplay2(flex, column, center, center, 20px);
       @include mysize(100%, 90vh);
       button{
          padding: 5px;
        
          width: 100px;

        background-color: $hoverr;
        border-radius: 20px;
        color:$white;
        border: none;
        
        
       }
       h2{
        font-family: "Satisfy", cursive;
        span{
            color: $orange;
        }
       }
       img{
         @include mysize(350px, 250px);
       }
       .images .top{
          @include mydisplay2(flex, none, center, center, 6px);
       }
        .images .bottom{
         @include mydisplay2(flex, none, center, center, 8px);
       }
       .images{
         @include mydisplay2(flex, column, center, center, 7px);
       }
       img:hover{
        overflow: hidden;
         transform: scale(1.1);
       }

}
















































































































