@import "../../mixin";
//* font of website

// *ABOUT 
.about{
    @include mydisplay;
    @include pi-pb;
}


// */ END ABOUT 





// *card section 
.title-why-us{
    @include  mydisplay;
    flex-direction: column;
}
.title-why-us button{
    background-color:$background-about-btn ;
    border-radius: 25px;
    border: none;
    @include pi-pb;
}
.cards {
    @include mydisplay ;
    @include pi-pb;
}

.card-item{
    @include pi-pb;
    padding-top: 9vh;
    padding-bottom: 9vh;
    background-color: $background-card-color ;
    box-shadow:5px 10px 18px $box-shadow-card ;
}
// *end card section 




// ^contact
.CONTACT{
    text-align: center;
    margin-bottom: 3vh;

}
.CONTACT span{
    color: $btn;
}
.CONTACT button{
    margin-bottom: 3vh;
    color: $btn;
    background-color:$background-about-btn ;
    border-radius: 25px;
    border: none;
    @include pi-pb;
}

.card-touch{
    text-align: center;
}



.info1{
    @include pi-pb;
    border: 2px;
    background-color: $background-card-color;
    box-shadow:5px 10px 18px $box-shadow-card ;


}

.getintouch{
    @include mygrid;
}




.up-menu
{
    @include mydisplay;
    flex-direction: column;
    gap: 2vh;
    padding-bottom: 3vh;
}
.up-menu .btn-menu{
    background-color:$background-about-btn ;
    border-radius: 25px;
    border: none;
    color: $text-color;
    @include pi-pb;

}
.up-menu h1 span {
    color: $text-color;
}


.menuu{
    width: 100%;

}
.menu-nav a {
    text-decoration: none;
    color: $gray;
    @include pi-pb;
}

.menu-nav a:hover{
    color: $hoverr;
}


.menu-card{
    @include mygrid;
}





.menu-item{

    display: flex;
    gap: 2vw;
    flex-direction: column;
    background-color: aqua;
}
.menu-item   {
    display: flex;
    background-color: aqua;
}
.menu-card div img {
    border-radius: 50%;
}















// Book table 



.section-title{
    text-align: center;



button{
    background-color:$background-about-btn ;
    border-radius: 25px;
    border: none;
    color: $text-color;
    @include pi-pb;

}

}
.img-card {
    img{
    width: 50%;
    padding-top: 2vh;
    border: $btn;
    box-shadow: 5px 10px 18px $box-shadow-card;

}
}

.btn-book button{

        @include radio-border;
        @include pi-pb;
        
}
.btn-book button:hover{
    background-color: $background-about-btn;
    color:$btn;
}

.formm {
    padding-top: 2vh;
    @include mydisplay;

}

.containner {
    border: 3px;
    box-shadow: 5px 10px 18px $box-shadow-card;
    margin-bottom: 5vh;
}














































































































